<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{block 'title'}}{{/block}}</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css">
		<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
		{{block 'head'}}
		{{/block}}
</head>
<body>
	<div class="links">
		<% if(!isHome){ %>
			<div class="to-home-wrapper">
				<h1 class="to-home-content">
					<a href="/home" class="to-home"><span class="to-home-gesture">☜</span>xxv's ukelele</a>
				</h1>
			</div>
		<% } %>
		<% if(!isCompose){ %>
			<div class="to-compose-wrapper">
				<h1 class="to-compose-content">
					<a href="/compose" class="to-compose">compose now<span class="to-compose-gesture">☞</span></a>
				</h1>
			</div>
		<% } %>
	</div>
	{{block 'content'}}
	{{/block}}
	<div class="prompt" id="confirmBox">
		<div class="prompt-content">
			<p class="prompt-title">
				提示
				<span class='cancel-symbol' title='关闭'>×</span>
			</p>
			<p class="prompt-text"></p>
			<div class="prompt-btn-groups">
				<a href="javascript:;" class='btn-confirm'>确定</a>
				<a href="javascript:;" class='btn-cancel'>取消</a>
			</div>
		</div>
	</div>
	<div class="prompt" id="messageBox">
		<div class="prompt-content">
			<p class="message-title">
				<i class="loading fa fa-spinner fa-spin info-color"></i>
				<i class="success fa fa-check-circle success-color"></i>
				<i class="warning fa fa-warning warning-color"></i>
				<i class="fail fa fa-frown-o fail-color"></i>
			</p>
			<p class="message-content"></p>
		</div>
	</div>
		<script src="/lib/jquery-1.12.4.js"></script>
		{{block 'script'}}
		{{/block}}
</body>
</html>