<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add Ukelele Sheet</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/composing.css">
</head>
<body>
	<div class="compose-title horizontal">
		<label for="titleInput">Title: <input id="titleInput" class="title-input s-large-input" type="text"></label>
	</div>
	<div class="compose-beat horizontal">
		<label for="beatInput">Beat: <input id="beatInput" class="beat-input medium-input" type="text" placeholder="num / note"></label>
	</div>
	<div class="compose-container horizontal">
		<label for="widthInput">Container Width: <input id="widthInput" class="width-input medium-input" type="text"></label>
	</div>
	<div class="compose-seperaotr horizontal">
		<label for="colorInput">Seperator Color: <input id="colorInput" class="color-input s-large-input" type="text" placeholder="rgba(red, green, blue, alpha)"></label>
	</div>
	<div class="compose-melody horizontal">
		<label for="melodyInput">Melody Offset: <input id="melodyInput" class="melody-input medium-input" type="text"></label>
	</div>
	<div class="compose-assistant horizontal">
		<label for="assistantInput">Assistant Height: <input id="assistantInput" class="assistant-input medium-input" type="text"></label>
	</div>
	<div class="compose-row horizontal">
		<label for="rowInput">Row Margin: <input id="rowInput" class="row-input medium-input" type="text"></label>
	</div>
	<div class='count-flat horizontal'>
		<label for="flatInput">Max Flats: <input id="flatInput" class="flat-input small-input" title="最大值:15"></label>
		<span class='error flat-error'></span>
	</div>
	<div class="diy-compose">
		<p class="compose-header">Compose Begin:</p>
		<div class="row">
			
		</div>	
	</div>
	<div id="noteMenu" class="note-menu">
		<ul>
			<li>添加</li>
			<li>删除</li>
		</ul>
	</div>
	<div class="prompt">
		<div class="prompt-content">
			<p class="prompt-title">
				提示
				<span class='cancel-symbol' title='关闭'>×</span>
			</p>
			<p class="prompt-text"></p>
			<div class="prompt-btn-groups">
				<a href="javascript:;" class='btn-confirm'>确定</a>
				<a href="javascript:;" class='btn-cancel'>取消</a>
			</div>
		</div>
	</div>
	<script src="/lib/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script src="/js/composing.js"></script>
</body>
</html>