.compose-wrapper {
	padding: 10px 15px 0 15px;
}
.compose-header-wrapper .horizontal {
	flex: 0 0 25%;
}
.header-wrapper-first, 
.header-wrapper-last {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 30px;
}
.row {
	margin-bottom: 20px;
	display: flex;
}
.select-container {
	width: 100px;
	position: relative;
	height: 100%;
	flex-shrink: 0;
	flex-grow: 0;
}
.flat-select {
	font-size: 16px;
	border: none;
	outline: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: transparent;
	display: none;
}
.one-lier {
	top: -8px;
}
.two-lier {
	top: 8px;
}
.three-lier {
	top: 22px;
}
.four-lier {
	top: 39px;
}
.flat-input {
	padding-left: 0;
	text-align: center
}


.compose-label {
	margin-bottom: 5px;
}
.note-menu {
	position: absolute;
	width: 50px;
	display: none;
	border: 1px solid #ccc;
	font-size: 12px;
}
.submit-wrapper {
	text-align: center;
}
.message-title {
	padding: 50px 0;
  font-size: 40px;
}
.message-content {
	margin-top: 20px;
}
.error-message {
	color: #fde2e2;
}
.warning-message {
	color: #e6a23c;
}
.success-message {
	color: #67c23a;
}
.info-message {
	color: #edf2fc;
}